@model IPagedList<ProductResponse>


@*@{
    bool checkIfMainShopPage = (Newtonsoft.Json.JsonConvert.SerializeObject(Model.filterValues)).Contains("CategoryId");


}



@if (checkIfMainShopPage)
{
    
}*@

<!-- Page Header Start -->
<!-- Page Header End -->
<!-- Shop Start -->
<!-- Shop Sidebar Start -->
<!-- Shop Sidebar End -->
<!-- Shop Product Start -->
<!-- Name search and sortby -->
<!--  -->
@foreach (ProductResponse product in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="~/assets/products/@(product.ProductName).jpg" alt="">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@product.ProductName</h6>
                <div class="d-flex justify-content-center">
                    <h6>$@product.ProductPrice</h6><h6 class="text-muted ml-2"><del>$@(product.ProductPrice + 1)</del></h6>
                </div>
                <p class="text-truncate mb-3">@product.ProductDescription</p>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                <a href="~/Cards/AddToCard/@product.ProductId" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
            </div>
        </div>
    </div>
}

<div class="col-12 pb-1">
    @Html.Partial("_PagingComponent", Model)

</div>


</div>

<!-- Shop Product End -->





<script>
    $(function () {
        //$(".ajax-form").submit(function (e) {
        //    console.log(1111);
        //    var values = {};
        //    e.preventDefault();
        //    var updateTargetId = $("[data-update]", $(this)).val();
        //    console.log(updateTargetId);
        //    var $inputs = $("input", $(this));
        //    $inputs.each(function () {
        //        values[this.name] = $(this).val();
        //    });
        //    var url = $(this).attr("action");
        //    $.ajax({
        //        url: url,
        //        method: "post",
        //        data: {
        //            ...values
        //        },
        //        success: function (data) {
        //            $(updateTargetId).html(data);
        //            alert("İşlem Başarılı!");
        //        }

        //    });
        //});

        $(".myPagination").click(function () {
            var pageIndex = $(this).data("pagenumber");
            
            var dic = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.filterValues))
                
                $.ajax({
                    url: "@Url.Action("Index","Products")",
                    method: "post",
                    data:
                    {
                        pageIndex: pageIndex,
                        ...dic

                    },
                    success: function (data) {
                        
                        $("#ProductsPageContainer").html(data);
                    }
                })
        });

    });
</script>


@*@if (Model.CategoryId == null)
{
    <script>
        $(".myPagination").click(function () {
            var pageNumber = $(this).data("pagenumber");
            $.ajax({
                url: url = "@Url.Action("SearchProductByNameWithPagination","Products")",
                method: "post",
                data: {
                    pageNumber: pageNumber,
                    searchString: "@(Model.CurrentSearchString)",
                },
                success: function (data) {

                    $("#ProductsPageContainer").html(data);
                }
            })
        })
    </script>
}
else
{
    <script>
        $(".myPagination").click(function () {
            var pageNumber = $(this).data("pagenumber");
            $.ajax({
                url: url = "@Url.Action("PaginatedProducts","Products")",
                method: "post",
                data: {
                    pageNumber: pageNumber,
                    categoryId: @Model.CategoryId,
                },
                success: function (data) {

                    $("#ProductsPageContainer").html(data);
                }
            })
        })
    </script>
}
*@

