@model SingleProductsPage


<div id="ProductsPageContainer">
    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                @if (Model.CurrentPage == 0)
                {
                    <li class="page-item disabled">
                        <button class="page-link myPagination">Previous</button>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <button class="page-link myPagination"  data-categoryid="@(Model.Products[0].CategoryId)" data-pageNumber="0" data-totalPages="@Model.TotalPages">1</button>
                    </li>


                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pageNumber="1" data-totalPages="@Model.TotalPages">2</button>
                        </li>

                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">2</button>
                        </li>
                    }
                    @if (Model.TotalPages > Model.CurrentPage + 2)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="2" data-totalpages="@Model.TotalPages">3</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">3</button>
                        </li>
                    }
                    @if(Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="1" data-totalpages="@Model.TotalPages">Next</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">Next</button>
                        </li>
                    }


                }
                @if (Model.CurrentPage != 0)
                {
                    <li class="page-item">
                        <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="@(Model.CurrentPage - 1)" data-totalpages="@Model.TotalPages">
                           Previous
                        </button>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="@(Model.CurrentPage)" data-totalpages="@Model.TotalPages">
                            @(Model.CurrentPage + 1)
                        </button>
                    </li>
                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="@(Model.CurrentPage + 1)" data-totalpages="@Model.TotalPages">
                                @(Model.CurrentPage + 2)
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">
                                @(Model.CurrentPage + 2)
                            </button>
                        </li>
                    }
                    @if (Model.TotalPages > Model.CurrentPage + 2)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="@(Model.CurrentPage + 2)" data-totalpages="@Model.TotalPages">
                                @(Model.CurrentPage + 3)
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link" >
                                @(Model.CurrentPage + 3)
                            </button>
                        </li>
                    }

                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-categoryid="@(Model.Products[0].CategoryId)" data-pagenumber="@(Model.CurrentPage + 1)" data-totalpages="@Model.TotalPages">
                                Next
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">
                                Next
                            </button>
                        </li>
                    }


                }

            </ul>
        </nav>
    </div>

    <div class="row">
        @{
            int i = 0;

            @foreach (var product in Model.Products)
            {
                if (i % 3 == 0)
                {
                    <div class="row"></div>
                }
                i++;
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/@String.Concat(product.ProductName, ".jpg")" class="card-img-top" width="200" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.ProductDescription</p>
                            <p class="card-text text-end fw-bold">@String.Concat(product.ProductPrice, "TL")</p>
                            <p class="text-end my-0"><a href="~/Cards/AddToCard/@product.ProductId" class="btn btn-primary">Sepete Ekle</a></p>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script>
    $(".myPagination").click(function () {
        var categoryId = $(this).data("categoryid");
        var pageNumber = $(this).data("pagenumber");
        var totalPages = $(this).data("totalpages");
        $.ajax({
            url: "@Url.Action("PaginatedProducts","Products")",
            method: "post",
            data: {
                categoryId: categoryId,
                pageNumber: pageNumber,
                totalPages: totalPages,
            },
            success: function (data) {

                $("#ProductsPageContainer").html(data);
            }
        })
    });
</script>

