@model SingleProductsPage


<div id="ProductsPageContainer" class="col px-0">
    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                @if (Model.CurrentPage == 0)
                {
                    <li class="page-item disabled">
                        <button class="page-link myPagination">Previous</button>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <button class="page-link myPagination" data-pageNumber="0">1</button>
                    </li>


                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pageNumber="1">2</button>
                        </li>

                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">2</button>
                        </li>
                    }
                    @if (Model.TotalPages > Model.CurrentPage + 2)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="2">3</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">3</button>
                        </li>
                    }
                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="1">Next</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">Next</button>
                        </li>
                    }


                }
                @if (Model.CurrentPage != 0)
                {
                    <li class="page-item">
                        <button class="page-link myPagination" data-pagenumber="@(Model.CurrentPage - 1)">
                            Previous
                        </button>
                    </li>

                    <li class="page-item">
                        <button class="page-link myPagination" data-pagenumber="@(Model.CurrentPage - 1)">
                            @Model.CurrentPage
                        </button>
                    </li>

                    <li class="page-item active" aria-current="page">
                        <button class="page-link myPagination" data-pagenumber="@(Model.CurrentPage)">
                            @(Model.CurrentPage + 1)
                        </button>
                    </li>
                    
                    
                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="@(Model.CurrentPage + 1)">
                                @(Model.CurrentPage + 2)
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">
                                @(Model.CurrentPage + 2)
                            </button>
                        </li>
                    }

                    @if (Model.TotalPages > Model.CurrentPage + 1)
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="@(Model.CurrentPage + 1)">
                                Next
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <button class="page-link">
                                Next
                            </button>
                        </li>
                    }


                }

            </ul>
        </nav>
    </div>

    <div class="row">
        @{
            int i = 0;

            @foreach (var product in Model.Products)
            {
                if (i % 3 == 0)
                {
                    <div class="row"></div>
                }
                i++;
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/@String.Concat(product.ProductName, ".jpg")" class="card-img-top" width="200" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.ProductDescription</p>
                            <p class="card-text text-end fw-bold">@String.Concat(product.ProductPrice, "TL")</p>
                            <p class="text-end my-0"><a href="~/Cards/AddToCard/@product.ProductId" class="btn btn-primary">Sepete Ekle</a></p>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@if (Model.CategoryId == null)
{
    <script>
        $(".myPagination").click(function () {

            var pageNumber = $(this).data("pagenumber");
            var totalPages = @Model.TotalPages;

            $.ajax({
                url: url = "@Url.Action("SearchProductByNameWithPagination","Products")",
                method: "post",
                data: {
                    pageNumber: pageNumber,
                    totalPages: totalPages,
                    searchString: "@(Model.CurrentSearchString)"
                },
                success: function (data) {

                    $("#ProductsPageContainer").html(data);
                }
            })
        })
    </script>
}
else
{
    <script>
        $(".myPagination").click(function () {
            var categoryId = @(Model.CategoryId);
            var pageNumber = $(this).data("pagenumber");
            var totalPages = @Model.TotalPages;
            $.ajax({
                url: url = "@Url.Action("PaginatedProducts","Products")",
                method: "post",
                data: {
                    categoryId: @Model.CategoryId,
                    pageNumber: pageNumber,
                    totalPages: totalPages,
                },
                success: function (data) {

                    $("#ProductsPageContainer").html(data);
                }
            })
        })
    </script>
}



