@model CustomerResponse


@{
    var sum = Model.Items.Sum(p => p.Quantity * p.Product.ProductPrice);
}


<form id="CustomerValidation" class="row px-xl-5">
    <div class="col-lg-7">

        <div class="mb-4">

            <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
            <div class="row">

                <div class="col-md-8 form-group">
                    <label class="col-sm-2 col-form-label">Person Name</label>
                    <input type="text" class="form-control" value="@Model.CustomerName" readonly>

                </div>


                <div class="col-md-8 form-group">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <input type="text" class="form-control" value="@Model.Email" readonly>
                 
                </div>

                <div class="col-md-8 form-group">
                    <label class="col-sm-2 col-form-label">Mobile</label>
                    <input type="text" class="form-control" value="@Model.PhoneNumber" readonly>

                </div>


                <div class="col-md-8 form-group">
                    <label  class="col-sm-2 col-form-label">Province</label>

                    <input type="text" class="form-control" value="@Model.Province" readonly>


                </div>
                <div class="col-md-8 form-group">
                    <label  class="col-sm-2 col-form-label">City</label>
                    <input type="text" class="form-control" value="@Model.City" readonly>

                </div>
                <div class="col-md-8 form-group">
                    <label  class="col-sm-2 col-form-label">Address</label>
                    <input type="text" class="form-control" value="@Model.StreetAddress" readonly>


                </div>
                <div class="col-md-8 form-group">
                    <label>Gender</label>
                    <select class="custom-select">
                        @if (!Model.Gender.Equals(string.Empty))
                        {
                            <option value="@Model.Gender" selected>@Model.Gender </option>
                        }else
                        {
                            <option selected>None</option>
                        }              
                    </select>
                </div>

                <!-- Shipping addres checkbox -->
                @*                        <div class="col-md-12 form-group">
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="newaccount">
                <label class="custom-control-label" for="newaccount">Create an account</label>
                </div>
                </div>
                <div class="col-md-12 form-group">
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="shipto">
                <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                </div>
                </div>*@
            </div>
        </div>

        <!-- Shipping adres farkli olsun mu -->
        @*<div class="collapse mb-4" id="shipping-address">
        <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
        <div class="row">
        <div class="col-md-6 form-group">
        <label>First Name</label>
        <input class="form-control" type="text" placeholder="John">
        </div>
        <div class="col-md-6 form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" placeholder="Doe">
        </div>
        <div class="col-md-6 form-group">
        <label>E-mail</label>
        <input class="form-control" type="text" placeholder="example@email.com">
        </div>
        <div class="col-md-6 form-group">
        <label>Mobile No</label>
        <input class="form-control" type="text" placeholder="+123 456 789">
        </div>
        <div class="col-md-6 form-group">
        <label>Address Line 1</label>
        <input class="form-control" type="text" placeholder="123 Street">
        </div>
        <div class="col-md-6 form-group">
        <label>Address Line 2</label>
        <input class="form-control" type="text" placeholder="123 Street">
        </div>
        <div class="col-md-6 form-group">
        <label>Country</label>
        <select class="custom-select">
        <option selected>United States</option>
        <option>Afghanistan</option>
        <option>Albania</option>
        <option>Algeria</option>
        </select>
        </div>
        <div class="col-md-6 form-group">
        <label>City</label>
        <input class="form-control" type="text" placeholder="New York">
        </div>
        <div class="col-md-6 form-group">
        <label>State</label>
        <input class="form-control" type="text" placeholder="New York">
        </div>
        <div class="col-md-6 form-group">
        <label>ZIP Code</label>
        <input class="form-control" type="text" placeholder="123">
        </div>
        </div>
        </div>*@
    </div>

    <!-- Yan taraftakiler -->
    <div class="col-lg-5">
        <!-- Ufak Total Fiyat -->
        <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
                <h4 class="font-weight-semi-bold m-0">Order Total</h4>
            </div>
            <div class="card-body">
                <h5 class="font-weight-medium mb-3">Products</h5>
                @foreach (SessionOrder product in Model.Items)
                {
                    <div class="d-flex justify-content-between">
                        <p>@(product.Product.ProductName) <span>---@product.Quantity</span></p>
                        <p>$@(product.Product.ProductPrice * product.Quantity)</p>
                    </div>
                }

                <hr class="mt-0">
                <div class="d-flex justify-content-between mb-3 pt-1">
                    <h6 class="font-weight-medium">Subtotal</h6>
                    <h6 class="font-weight-medium">$@sum</h6>
                </div>
                <div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">Shipping</h6>
                    <h6 class="font-weight-medium">$10</h6>
                </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
                <div class="d-flex justify-content-between mt-2">
                    <h5 class="font-weight-bold">Total</h5>
                    <h5 class="font-weight-bold">$@(sum + 10)</h5>
                </div>
            </div>
        </div>
        <!-- Payment and Proceed -->
        <div class="card border-secondary mb-5">

            <div class="card-footer border-secondary bg-transparent">
                <span class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Order Completed</span>
            </div>
        </div>
    </div>
</form>


<script>

    document.getElementById("card_quantity").innerHTML = 0;

</script>


