@model CustomerAddRequest



<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">

    <form class="row px-xl-5" asp-controller="Customers" asp-action="OrderCompleted" method="post">
        <div class="col-lg-8">

            <div class="mb-4">

                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <div class="row">

                    <div class="col-md-6 form-group">
                        <label asp-for="CustomerName">Person Name</label>
                        <input asp-for="CustomerName" class="form-control">
                        <span asp-validation-for="CustomerName"></span>
                    </div>


                    <div class="col-md-6 form-group">
                        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control">
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="col-md-6 form-group">
                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Mobile</label>
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>


                    <div class="col-md-6 form-group">
                        <label asp-for="Province" class="col-sm-2 col-form-label">Province</label>

                        <input asp-for="Province" class="form-control">
                        <span asp-validation-for="Province"></span>

                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="City" class="col-sm-2 col-form-label">City</label>
                        <input asp-for="City" class="form-control">
                        <span asp-validation-for="City"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="StreetAddress" class="col-sm-2 col-form-label">Address</label>
                        <input asp-for="StreetAddress" class="form-control">
                        <span asp-validation-for="StreetAddress"></span>

                    </div>
                    <div class="col-md-6 form-group">
                        <label>Gender</label>
                        <select class="custom-select" asp-for="Gender">
                            <option selected>None</option>
                            <option value="@GenderOptions.Female">@GenderOptions.Female</option>
                            <option value="@GenderOptions.Male">@GenderOptions.Male</option>
                            <option value="@GenderOptions.Other">@GenderOptions.Other</option>
                        </select>
                    </div>

                    <!-- Shipping addres checkbox -->
                    @*                        <div class="col-md-12 form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="newaccount">
                    <label class="custom-control-label" for="newaccount">Create an account</label>
                    </div>
                    </div>
                    <div class="col-md-12 form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="shipto">
                    <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                    </div>
                    </div>*@
                </div>
            </div>

            <!-- Shipping adres farkli olsun mu -->
            @*<div class="collapse mb-4" id="shipping-address">
            <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
            <div class="row">
            <div class="col-md-6 form-group">
            <label>First Name</label>
            <input class="form-control" type="text" placeholder="John">
            </div>
            <div class="col-md-6 form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Doe">
            </div>
            <div class="col-md-6 form-group">
            <label>E-mail</label>
            <input class="form-control" type="text" placeholder="example@email.com">
            </div>
            <div class="col-md-6 form-group">
            <label>Mobile No</label>
            <input class="form-control" type="text" placeholder="+123 456 789">
            </div>
            <div class="col-md-6 form-group">
            <label>Address Line 1</label>
            <input class="form-control" type="text" placeholder="123 Street">
            </div>
            <div class="col-md-6 form-group">
            <label>Address Line 2</label>
            <input class="form-control" type="text" placeholder="123 Street">
            </div>
            <div class="col-md-6 form-group">
            <label>Country</label>
            <select class="custom-select">
            <option selected>United States</option>
            <option>Afghanistan</option>
            <option>Albania</option>
            <option>Algeria</option>
            </select>
            </div>
            <div class="col-md-6 form-group">
            <label>City</label>
            <input class="form-control" type="text" placeholder="New York">
            </div>
            <div class="col-md-6 form-group">
            <label>State</label>
            <input class="form-control" type="text" placeholder="New York">
            </div>
            <div class="col-md-6 form-group">
            <label>ZIP Code</label>
            <input class="form-control" type="text" placeholder="123">
            </div>
            </div>
            </div>*@
        </div>


        <div class="col-lg-4">

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place Order</button>
                </div>
            </div>
        </div>
    </form>

</div>