
<div class="col px-0">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>

        <tbody>
            @{
                int i = 0;
                foreach (var entry in ViewBag.myDictionary)
                {
                    i++;
                    int k = 0;

                    @foreach (var orderItem in entry.Value)
                    {
                        if (entry.Value.Count == 1)
                        {
                            <tr class="table-group-divider">
                                <th scope="row">@i</th>
                                <td>@entry.Key.CustomerId</td>
                                <td>@entry.Key.CustomerName</td>
                                <td>@orderItem.Product.ProductName</td>
                                <td>@orderItem.Quantity</td>
                            </tr>
                        }
                        else if (entry.Value.Count > 1 && k == 0)
                        {
                            <tr class="table-group-divider">
                                <th scope="row">@i</th>
                                <td>@entry.Key.CustomerId</td>
                                <td>@entry.Key.CustomerName</td>
                                <td>@orderItem.Product.ProductName</td>
                                <td>@orderItem.Quantity</td>
                            </tr>
                        }
                        else if (k > 0)
                        {
                            <tr>
                                <th scope="row" colspan="3"></th>
                                <td>@orderItem.Product.ProductName</td>
                                <td>@orderItem.Quantity</td>
                            </tr>
                        }
                        k++;
                    }

                }
            }
        </tbody>
    </table>
</div>