@model IPagedList

<nav aria-label="...">
    <ul class="pagination">

        @if (Model.PageIndex != 0)
        {
            <li class="page-item">
                <button class="page-link myPagination" data-pagenumber="@(Model.PageIndex - 1)">
                    Previous
                </button>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <button class="page-link">
                    Previous
                </button>
            </li>
        }

        <li class="page-item">
            <button class="page-link myPagination" data-pagenumber="0">
                First Page
            </button>
        </li>

        @if (Model.PageIndex > 2)
        {
            for (int k = Model.PageIndex - 2; k < Model.PageIndex + 3; k++)
            {

                if (Model.PageCount > k)
                {
                    if (k == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link myPagination PageIndexnumber" aria-current="page" data-pagenumber="@(k)">
                                @(k + 1)
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="@(k)">
                                @(k + 1)
                            </button>
                        </li>
                    }

                }
                else if (Model.PageCount <= k)
                {
                    <li class="page-item disabled">
                        <button class="page-link" data-pagenumber="@(k)">
                            @(k + 1)
                        </button>
                    </li>
                }
            }
        }
        else
        {
            for (int k = 0; k < 5; k++)
            {
                if (Model.PageCount > k)
                {
                    if (k == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link myPagination PageIndexnumber" aria-current="page" data-pagenumber="@(k)">
                                @(k + 1)
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link myPagination" data-pagenumber="@(k)">
                                @(k + 1)
                            </button>
                        </li>
                    }

                }
                else if (Model.PageCount <= k)
                {
                    <li class="page-item disabled">
                        <button class="page-link" data-pagenumber="@(k)">
                            @(k + 1)
                        </button>
                    </li>
                }

            }
        }

        <li class="page-item">
            <button class="page-link myPagination" data-pagenumber="@(Model.PageCount - 1)">
                Last Page
            </button>
        </li>

        @if (Model.PageCount > Model.PageIndex + 1)
        {
            <li class="page-item">
                <button class="page-link myPagination" data-pagenumber="@(Model.PageIndex + 1)">
                    Next
                </button>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <button class="page-link">
                    Next
                </button>
            </li>
        }

    </ul>
</nav>
<script>
    $(".myPagination").click(function () {
        var pageNumber = $(this).data("pagenumber");
        $.ajax({
            url: url = "@Model.Url",
            method: "post",
            data: {
                pageNumber: pageNumber,

            },
            success: function (data) {

                $("#CustomerContainer").html(data);
            }
        })
    })
</script>